@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("../fonts/Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("../fonts/Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("../Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?cvprwp");
  src: url("../fonts/icons.eot?cvprwp#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?cvprwp") format("truetype"), url("../fonts/icons.woff?cvprwp") format("woff"), url("../fonts/icons.svg?cvprwp#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-minus:before {
  content: "\e90c"; }

.icon-plus:before {
  content: "\e90d"; }

.icon-modal-close:before {
  content: "\e916"; }

.icon-triangle:before {
  content: "\e911"; }

.icon-attention:before {
  content: "\e912"; }

.icon-delivery-location:before {
  content: "\e913"; }

.icon-free:before {
  content: "\e914"; }

.icon-clock:before {
  content: "\e915"; }

.icon-check:before {
  content: "\e90f"; }

.icon-promo:before {
  content: "\e910"; }

.icon-delivery:before {
  content: "\e90e"; }

.icon-inst:before {
  content: "\e907"; }

.icon-arrow-down:before {
  content: "\e902"; }

.icon-avatar:before {
  content: "\e903"; }

.icon-cart:before {
  content: "\e904"; }

.icon-favorite-add:before {
  content: "\e905"; }

.icon-favorites:before {
  content: "\e906"; }

.icon-location:before {
  content: "\e908"; }

.icon-serch:before {
  content: "\e909"; }

.icon-telegram:before {
  content: "\e90a"; }

.icon-whatsapp:before {
  content: "\e90b"; }

.icon-checked:before {
  content: "\e900"; }

.icon-drop:before {
  content: "\e901"; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  cursor: pointer; }

body {
  font-size: 24px;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #F3E8FF;
  margin: 0;
  height: 100%; }
  @media (max-width: 1200px) {
    body {
      font-size: 16px;
      line-height: 18px; } }

.container {
  max-width: 1391px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 992.98px) {
  .mb124 {
    margin-bottom: 84px; } }

@media (min-width: 992.98px) {
  .mb124 {
    margin-bottom: 124px; } }

.col {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%; }

.bold {
  font-weight: 600; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.scroll-up {
  display: none;
  bottom: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000; }
  .scroll-up.fixed {
    position: fixed;
    display: block; }

input {
  border: unset;
  padding: 0;
  margin: 0;
  outline: unset;
  width: 100%;
  background: transparent; }

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none; }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0; }

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0; }

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
  background-color: #5B5F60; }

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 4px;
  background-color: #eeeaea; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 79px;
  background-color: #F49D9C;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35);
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  outline: none; }
  .btn:hover {
    background-color: #e66b69; }
  @media (max-width: 1400px) {
    .btn {
      padding: 16px 38px; } }

.btn-white {
  background-color: #fff;
  border: 1px solid #F49D9C;
  color: #F49D9C;
  padding: 12px 19px;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s; }
  .btn-white:hover {
    background-color: #F49D9C;
    color: #fff; }

.btn-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FAFAFA;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15); }
  @media (max-width: 767.98px) {
    .btn-action {
      width: 46px;
      height: 46px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 46px;
      flex: 0 0 46px; } }
  @media (min-width: 767.98px) {
    .btn-action {
      width: 68px;
      height: 68px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 68px;
      flex: 0 0 68px; } }
  .btn-action:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .btn-action:hover {
    -webkit-box-shadow: 10px 10px 20px rgba(230, 107, 105, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
    box-shadow: 10px 10px 20px rgba(230, 107, 105, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
    -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
    transition: -webkit-box-shadow 0.5s ease 0s;
    -o-transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s; }

.category-params-item-price-table {
  margin-bottom: 25px; }
  .category-params-item-price-table .cell:first-child {
    padding-right: 15px;
    position: relative; }
    .category-params-item-price-table .cell:first-child:after {
      display: none;
      content: "-";
      position: absolute;
      right: -4px;
      top: 8px;
      font-size: 20px; }
  .category-params-item-price-table .cell:last-child {
    text-align: end; }
  .category-params-item-price-table .cell input {
    width: 68px;
    height: 30px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    color: #7c7373;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400; }

.category-params-item-price-range {
  margin: 0 12px 20px 12px;
  background-color: #dfdfdf;
  height: 4px;
  position: relative; }
  .category-params-item-price-range .ui-slider-range {
    background-color: #fc9a00;
    height: 4px;
    position: relative; }
  .category-params-item-price-range .ui-slider-handle {
    width: 16px;
    height: 16px;
    border: 2px solid #fbfbfb;
    background-color: #ea5922;
    display: block;
    position: absolute;
    top: -7px;
    margin-left: -12px;
    cursor: pointer; }
    .category-params-item-price-range .ui-slider-handle:after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 18px;
      height: 18px;
      background-color: #ea5922;
      opacity: 0.3; }
    .category-params-item-price-range .ui-slider-handle span {
      display: none;
      position: absolute;
      bottom: -18px;
      left: 50%;
      width: 50px;
      text-align: center;
      font-size: 10px;
      margin-left: -25px;
      font-weight: 500;
      color: #94a6aa; }

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px; }
  @media (max-width: 767.98px) {
    .form__info {
      width: 50px;
      height: 50px;
      line-height: 50px; } }

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px; }
  .form-range-line .ui-slider-range {
    background-color: #093454;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 4px 4px; }
  .form-range-line .ui-slider-handle {
    background: url("../img/icons/range.svg") 0 0 no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    margin: -9px 0px 0px -14px;
    top: 0;
    left: 0;
    cursor: pointer; }
  .form-range-line .ui-state-hover {
    background: url("../img/icons/range_a.svg") 0 0 no-repeat; }

.form-range-values {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 0px 0px 0px; }

.form-range-values__item {
  font-size: 12px;
  color: #888; }

.modal {
  --transition-time: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  -o-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time); }

.modal::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.modal__body {
  position: relative;
  margin: 50px auto;
  display: none;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 20px;
  cursor: default;
  text-align: left; }

@media (max-width: 1024px) {
  .modal__body {
    width: 90%; } }

.modal.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  -o-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time); }

.modal__body.modal-open {
  display: inline-block; }

.fade {
  opacity: 0;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time); }

.fade.animate-open {
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time); }

.fadeInUp {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time); }

.fadeInUp.animate-open {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time); }

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

.modal-close {
  position: absolute;
  top: 37px;
  right: 40px; }
  @media (max-width: 767.98px) {
    .modal-close {
      top: 14px;
      right: 17px; } }
  .modal-close:before {
    color: #E6E6E6; }

.quick-order {
  max-width: 630px;
  margin: 0 auto;
  padding: 60px 40px 40px 40px;
  border-radius: 25px;
  background-color: #fff; }
  @media (max-width: 767.98px) {
    .quick-order {
      padding: 30px 16px; } }
  .quick-order__body {
    position: relative; }
  .quick-order__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #F49D9C;
    text-align: center;
    margin-bottom: 37px; }
    @media (max-width: 767.98px) {
      .quick-order__title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 17px; } }
  @media (max-width: 767.98px) {
    .quick-order__product-item {
      margin-bottom: 17px; } }
  @media (min-width: 767.98px) {
    .quick-order__product-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 57px; } }
  .quick-order__product-item--img {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 93px;
    flex: 0 0 93px;
    width: 93px;
    height: 93px;
    border-radius: 50%; }
    @media (max-width: 767.98px) {
      .quick-order__product-item--img {
        margin: 0 auto;
        margin-bottom: 17px; } }
    @media (min-width: 767.98px) {
      .quick-order__product-item--img {
        margin-right: 34px; } }
    .quick-order__product-item--img img {
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  .quick-order__product-item--name {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #5B5F60; }
    @media (max-width: 767.98px) {
      .quick-order__product-item--name {
        font-size: 22px;
        line-height: 26px; } }
  .quick-order__text {
    margin-bottom: 37px;
    text-align: center; }
  .quick-order__form-imput:not(:last-child) {
    margin-bottom: 20px; }
  .quick-order__form-imput input {
    padding: 19px 0px 19px 50px;
    background: #FDFCFF;
    -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
    border-radius: 55px; }
  .quick-order__form-btn {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35);
    box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35);
    margin-bottom: 33px; }
    @media (min-width: 767.98px) {
      .quick-order__form-btn {
        padding-top: 25px;
        padding-bottom: 25px; } }
  @media (min-width: 767.98px) {
    .quick-order__bonus {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.title {
  font-weight: bold;
  color: #5B5F60;
  margin-bottom: 43px; }
  @media (max-width: 576.98px) {
    .title {
      margin-bottom: 27px; } }
  @media (max-width: 1200px) {
    .title {
      font-size: 32px;
      line-height: 40px; } }
  @media (min-width: 1200px) {
    .title {
      font-size: 48px;
      line-height: 56px; } }
  @media (min-width: 1700px) {
    .title {
      font-size: 64px;
      line-height: 78px;
      max-width: 612px; } }
  .title span {
    display: block; }

.section__title {
  max-width: unset;
  color: #5B5F60; }
  @media (max-width: 576.98px) {
    .section__title {
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 42px; } }
  @media (min-width: 992.98px) {
    .section__title {
      font-size: 44px;
      line-height: 52px; } }

.header {
  position: relative;
  width: 100%;
  padding-left: 26px;
  padding-right: 39px;
  background-color: #fff;
  z-index: 1000; }
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .header__inner {
        height: 58px; } }
    @media (min-width: 767.98px) {
      .header__inner {
        height: 102px; } }
  .header__logo {
    margin-right: 51px;
    padding-top: 10px; }
  .header__right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  @media (min-width: 767.98px) {
    .header__social {
      margin-left: 32px;
      margin-right: 38px; } }
  @media (min-width: 1400px) {
    .header__social {
      margin-left: 64px;
      margin-right: 77px; } }

.location {
  font-size: 21px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  @media (max-width: 767.98px) {
    .location {
      margin: 32px 0; } }
  .location:before {
    color: #F49D9C;
    margin-right: 18px;
    font-size: 32px; }

.phone {
  font-size: 21px;
  line-height: 25px; }
  @media (max-width: 992.98px) {
    .phone {
      margin-bottom: 32px; } }

.social__item {
  display: inline-block; }
  @media (max-width: 767.98px) {
    .social__item {
      margin-bottom: 24px; } }
  @media (min-width: 1400px) {
    .social__item:not(:last-child) {
      margin-right: 40px; } }
  @media (max-width: 1400px) {
    .social__item:not(:last-child) {
      margin-right: 20px; } }

.social__link:before {
  color: #F49D9C; }
  @media (max-width: 1400px) {
    .social__link:before {
      font-size: 24px; } }
  @media (min-width: 1400px) {
    .social__link:before {
      font-size: 36px; } }

.social__link:hover:before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #FF5353; }

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 576.98px) {
    .action {
      margin-right: 88px; } }
  @media (min-width: 1400px) {
    .action {
      margin-right: 129px; } }
  .action__user, .action__cart {
    margin-right: 33px;
    cursor: pointer; }
    @media (max-width: 1400px) {
      .action__user:before, .action__cart:before {
        font-size: 32px; } }
    @media (min-width: 1400px) {
      .action__user:before, .action__cart:before {
        font-size: 42px; } }
  .action__cart {
    position: relative;
    margin-right: 0; }
    .action__cart:after {
      position: absolute;
      top: -3px;
      right: -8px;
      width: 17px;
      height: 17px;
      background-color: #FF5353;
      border-radius: 50%; }

.cart-count {
  position: absolute;
  top: -8px;
  right: -11px;
  min-width: 22px;
  height: 22px;
  padding: 2px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: #FF5353;
  color: #fff;
  z-index: 1; }

.header-menu {
  position: fixed;
  right: -100%;
  height: 100%;
  -webkit-transition: right 0.4s ease 0s;
  -o-transition: right 0.4s ease 0s;
  transition: right 0.4s ease 0s;
  background: black;
  padding: 80px 15px; }
  @media (max-width: 767.98px) {
    .header-menu {
      width: 100%;
      top: 58px; } }
  @media (min-width: 767.98px) {
    .header-menu {
      width: 50%;
      top: 102px; } }
  .header-menu.active {
    right: 0; }
  .header-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff; }
  .header-menu__item {
    margin-bottom: 40px; }
  .header-menu__link {
    color: #fff; }
    @media (max-width: 992.98px) {
      .header-menu__link {
        font-size: 26px; } }
    @media (min-width: 992.98px) {
      .header-menu__link {
        font-size: 36px; } }

.header-menu__icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 39px;
  width: 34px;
  height: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5; }
  .header-menu__icon:before, .header-menu__icon:after,
  .header-menu__icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000; }
  .header-menu__icon:before, .header-menu__icon:after {
    content: ''; }
  .header-menu__icon:before {
    top: 0; }
  .header-menu__icon:after {
    bottom: 0; }
  .header-menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%); }
  .header-menu__icon.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%); }
  .header-menu__icon.active:before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%); }
  .header-menu__icon.active:after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%); }

.select-form {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#FAFAFA), to(#F4ECFC));
  background: -webkit-linear-gradient(left, #FAFAFA 0%, #F4ECFC 100%);
  background: -o-linear-gradient(left, #FAFAFA 0%, #F4ECFC 100%);
  background: linear-gradient(90deg, #FAFAFA 0%, #F4ECFC 100%);
  -webkit-box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
  box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
  border-radius: 25px;
  background-image: url(../img/select-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-top: -8px; }
  @media (max-width: 992.98px) {
    .select-form {
      padding: 32px 38px; } }
  @media (min-width: 992.98px) {
    .select-form {
      padding: 43px 63px 47px 63px; } }
  @media (max-width: 767.98px) {
    .select-form__body {
      margin-bottom: 18px; } }
  @media (min-width: 767.98px) {
    .select-form__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background-color: #fff;
      padding: 16px 32px;
      border-radius: 150px; } }
  @media (min-width: 1400px) {
    .select-form__body {
      padding: 16px 62px; } }
  @media (min-width: 767.98px) {
    .select-form__head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 32px; } }
  .select-form__group {
    position: relative; }
  @media (max-width: 767.98px) {
    .select-form__title {
      margin-bottom: 18px; } }
  .select-form__btn {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px; }
    @media (min-width: 767.98px) {
      .select-form__btn {
        font-size: 24px;
        line-height: 29px; } }

.nicescroll-cursors {
  background-color: #F49D9C !important; }

.select {
  position: relative; }
  .select.active .select-title__arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .select-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer; }
    @media (max-width: 767.98px) {
      .select-title {
        border: 1px solid #fff;
        border-radius: 150px;
        background-color: #fff;
        padding: 12px 20px;
        font-size: 14px;
        margin-bottom: 12px; } }
    @media (min-width: 767.98px) {
      .select-title {
        font-size: 18px;
        line-height: 22px; } }
    @media (min-width: 1400px) {
      .select-title {
        font-size: 24px;
        line-height: 29px; } }
  .select-title__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
    @media (max-width: 992.98px) {
      .select-title__arrow {
        margin-left: 5px; } }
    @media (min-width: 992.98px) {
      .select-title__arrow {
        margin-left: 18px; } }
    .select-title__arrow:before {
      font-size: 14px; }
  .select-options {
    position: absolute;
    z-index: 10;
    top: 100%;
    display: none;
    overflow: hidden;
    background-color: #fff;
    padding: 22px 22px 22px 37px;
    -webkit-box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
    box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
    border-radius: 25px; }
    @media (min-width: 1200px) {
      .select-options {
        min-width: 100%;
        margin-top: 8px; } }
  .select-options-list {
    padding: 0px 14px 0px 0px;
    text-align: left; }
    .select-options-list .value_1 {
      display: none;
      opacity: 0;
      visibility: hidden; }
  .select-options-scroll {
    max-height: 120px;
    overflow: auto; }
  .select-options__value {
    font-size: 14px;
    margin: 0px 0px 2px 0px; }
    .select-options__value:last-child {
      margin: 0px 0px 0px 0px; }
    .select-options__value:hover {
      color: #000; }

.category {
  margin-bottom: 64px; }
  .category__container {
    padding: 0 15px; }
  @media (max-width: 767.98px) {
    .category__slider {
      padding-left: 60px;
      padding-right: 60px; } }
  @media (min-width: 767.98px) and (max-width: 1650px) {
    .category__slider {
      padding-left: 100px;
      padding-right: 100px; } }

@media (max-width: 767.98px) {
  .category__slider-container {
    overflow: visible !important; }
    .category__slider-container .slider__item {
      opacity: 0;
      z-index: -1; }
    .category__slider-container .swiper-slide-active {
      opacity: 1;
      z-index: 0; } }
  @media (max-width: 767.98px) and (min-width: 440px) {
    .category__slider-container .swiper-slide-next {
      opacity: 1;
      z-index: 0; } }

.slider {
  position: relative; }
  .slider__wrapper {
    padding: 23px 0; }
  .slider__item {
    background: #FDFCFF;
    mix-blend-mode: normal;
    -webkit-box-shadow: 7px 7px 10px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
    box-shadow: 7px 7px 10px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto !important; }
    @media (max-width: 767.98px) {
      .slider__item {
        padding-bottom: 17px; } }
    @media (min-width: 767.98px) {
      .slider__item {
        padding-bottom: 33px; } }
    .slider__item:hover {
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      -o-transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
      -webkit-box-shadow: 15px 15px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
      box-shadow: 15px 15px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15); }
    .slider__item:nth-child(2) {
      margin-top: -35px; }
  .slider__item-img {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slider__item-img-box {
    height: 240px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slider__title {
    font-weight: 500; }
  .slider__img {
    position: relative;
    margin-bottom: 15px; }
    @media (max-width: 767.98px) {
      .slider__img {
        padding-bottom: 100%; } }
    @media (min-width: 767.98px) {
      .slider__img {
        padding-bottom: 110%; } }
    .slider__img img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  .slider__button-prev, .slider__button-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3; }
    @media (min-width: 767.98px) {
      .slider__button-prev:before, .slider__button-next:before {
        font-size: 18px; } }
  .slider__button-prev {
    left: 0;
    padding-right: 2px; }
    @media (min-width: 1700px) {
      .slider__button-prev {
        left: -131px; } }
    .slider__button-prev:before {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .slider__button-next {
    right: 0;
    padding-left: 2px; }
    @media (min-width: 1700px) {
      .slider__button-next {
        right: -131px; } }

/*
.product__item {
   @media (max-width:$md3+px) {
      width: auto !important;
   }

   @media (min-width:$md3+px) {
      width: auto !important;
   }
}
*/
.top35 {
  top: -18px; }

@media (max-width: 992.98px) {
  .search {
    margin-bottom: 80px; } }

@media (min-width: 992.98px) {
  .search {
    margin-bottom: 112px; } }

.search__form {
  position: relative; }
  .search__form.is-active .dropdawn-form {
    display: block; }

.search__form-item-input {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#FBFBFB), to(rgba(251, 251, 251, 0.61)));
  background: -webkit-linear-gradient(left, #FBFBFB 0%, rgba(251, 251, 251, 0.61) 100%);
  background: -o-linear-gradient(left, #FBFBFB 0%, rgba(251, 251, 251, 0.61) 100%);
  background: linear-gradient(90deg, #FBFBFB 0%, rgba(251, 251, 251, 0.61) 100%);
  -webkit-box-shadow: 13px 13px 20px rgba(177, 164, 212, 0.35);
  box-shadow: 13px 13px 20px rgba(177, 164, 212, 0.35);
  background-image: url(../img/search-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  border-radius: 100px; }
  @media (max-width: 767.98px) {
    .search__form-item-input {
      padding: 16px 26px 16px 60px; } }
  @media (min-width: 767.98px) {
    .search__form-item-input {
      padding: 16px 31px 16px 118px; } }

.search__form-icon {
  position: absolute;
  top: 54%;
  color: #F49D9C;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 767.98px) {
    .search__form-icon {
      font-size: 24px;
      left: 20px; } }
  @media (min-width: 767.98px) {
    .search__form-icon {
      left: 56px;
      font-size: 36px; } }

.search__form-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent; }

.search__form-arrow {
  position: absolute;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 4;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  cursor: pointer; }
  @media (max-width: 767.98px) {
    .search__form-arrow {
      right: 30px; } }
  @media (min-width: 767.98px) {
    .search__form-arrow {
      right: 74px; } }
  .search__form-arrow.is-active {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg); }

.dropdawn-form {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 50px;
  z-index: 2; }
  @media (max-width: 992.98px) {
    .dropdawn-form {
      padding: 30px; } }
  @media (min-width: 992.98px) {
    .dropdawn-form {
      padding: 70px 50px; } }
  .dropdawn-form__body {
    width: 100%; }
    @media (min-width: 767.98px) {
      .dropdawn-form__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .dropdawn-form__title {
    margin-bottom: 24px; }
  @media (max-width: 767.98px) {
    .dropdawn-form__item {
      margin-bottom: 20px; } }
  @media (min-width: 767.98px) {
    .dropdawn-form__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px;
      margin-bottom: 44px; } }
  .dropdawn-form__item li {
    font-size: 16px; }
    @media (max-width: 992.98px) {
      .dropdawn-form__item li {
        margin-bottom: 10px; } }
    @media (min-width: 992.98px) {
      .dropdawn-form__item li:not(:last-child) {
        margin-bottom: 24px; } }
  .dropdawn-form__item .checkbox {
    cursor: pointer; }
  .dropdawn-form__item-list {
    overflow: auto; }
    @media (max-width: 992.98px) {
      .dropdawn-form__item-list {
        max-height: 220px; } }
    @media (min-width: 992.98px) {
      .dropdawn-form__item-list {
        max-height: 440px; } }
  .dropdawn-form__item-name {
    margin-bottom: 24px; }

/*******************************************************/
/*! nouislider - 14.6.2 - 9/16/2020 */
.home {
  width: 100%;
  background-image: url(../img/home/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 1400px) {
    .home {
      padding-top: 80px; } }
  @media (min-width: 992.98px) {
    .home {
      padding-top: 105px; } }
  .home__container {
    padding: 0 24px; }
  @media (min-width: 767.98px) {
    .home-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .home-col {
    position: relative; }
    @media (min-width: 576.98px) and (max-width: 767.98px) {
      .home-col {
        text-align: center; } }
    @media (min-width: 767.98px) {
      .home-col {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; } }
  @media (max-width: 767.98px) {
    .home-col__left {
      margin-bottom: 24px; } }
  @media (min-width: 767.98px) {
    .home-col__left {
      padding-top: 94px; } }
  @media (min-width: 1400px) and (max-width: 1700px) {
    .home-col__right {
      padding: 0 100px; } }
  @media (max-width: 767.98px) {
    .home__img {
      width: 336px; } }
  @media (min-width: 1400px) {
    .home__img {
      position: relative;
      right: -50px; } }
  @media (max-width: 767.98px) {
    .home-col__select {
      max-width: 335px;
      margin: 0 auto; } }
  @media (max-width: 767.98px) {
    .home__subtitle {
      margin-bottom: 18px; } }
  .home__decor {
    position: absolute;
    width: 100px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-animation: sheet 2s ease infinite;
    animation: sheet 2s ease infinite; }
    @media (max-width: 992.98px) {
      .home__decor {
        display: none; } }
  .home__decor-1 {
    background-image: url(../img/home/sheet-01.png);
    right: -30px;
    top: 150px; }
  .home__decor-2 {
    background-image: url(../img/home/sheet-02.png);
    left: 50%;
    bottom: 28%;
    width: 142px; }
    @media (max-width: 767.98px) {
      .home__decor-2 {
        display: none; } }
  .home__decor-3 {
    background-image: url(../img/home/sheet-03.png);
    top: 29px;
    left: 42px; }
    @media (max-width: 767.98px) {
      .home__decor-3 {
        top: 84px; } }
  .home__decor-4 {
    background-image: url(../img/home/sheet-04.png);
    bottom: -36px;
    right: -42px;
    height: 70px;
    -webkit-animation: unset;
    animation: unset; }

@media (min-width: 1400px) {
  @-webkit-keyframes sheet {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  @keyframes sheet {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); } } }

.section {
  position: relative; }
  @media (max-width: 1400px) {
    .section {
      margin-bottom: 55px; } }
  @media (min-width: 1400px) {
    .section {
      margin-bottom: 85px; } }
  @media (max-width: 992.98px) {
    .section__head {
      margin-bottom: 34px; } }
  @media (min-width: 576.98px) {
    .section__head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 992.98px) {
    .section__head {
      margin-bottom: 53px; } }
  .section__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 1700px) {
      .section__action {
        margin-right: -140px; } }
    .section__action span {
      margin-right: 32px; }

@media (max-width: 576.98px) {
  .product .container {
    padding-right: 0; } }

@media (max-width: 576.98px) {
  .product__wrapper {
    margin-left: -35px; } }

@media (min-width: 576.98px) {
  .product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

@media (min-width: 576.98px) and (max-width: 1200px) {
  .product__wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media (min-width: 1200px) {
  .product__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.product__item {
  position: relative;
  border-radius: 25px;
  background-color: #fff; }
  @media (max-width: 576.98px) {
    .product__item {
      width: auto !important; } }
  @media (min-width: 576.98px) {
    .product__item {
      width: 245px;
      margin-bottom: 32px; }
      .product__item:not(:last-child) {
        margin-right: 10px; }
      .product__item:last-child {
        margin-bottom: 0; } }
  @media (min-width: 1400px) {
    .product__item {
      margin-bottom: 0; } }
  .product__item:hover {
    -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
    transition: -webkit-box-shadow 0.5s ease 0s;
    -o-transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
    -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
    box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15); }

.product__item-img {
  height: 245px;
  position: relative; }
  .product__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0; }

.product__item-body {
  text-align: left;
  padding: 9px 16px 16px 16px; }

.product__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .product__item-box:not(:last-child) {
    margin-bottom: 13px; }

.product__item-box--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product__item-text {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 11px; }

.product__title {
  font-size: 16px;
  line-height: 20px; }

.product__price {
  font-weight: bold;
  color: #5B5F60;
  width: 100%; }

.product__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  line-height: 16px; }

.product__count-icon {
  cursor: pointer; }
  .product__count-icon:before {
    font-size: 14px;
    line-height: 1px;
    margin: 0 4px; }

.product__cart {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #FAFAFA;
  mix-blend-mode: normal;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15); }
  @media (max-width: 576.98px) {
    .product__cart {
      margin-right: 10px; } }
  .product__cart:before {
    font-size: 18px;
    padding-right: 1px; }
  .product__cart .cart-count {
    top: -5px;
    right: -8px;
    min-width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 14px; }

.favorite {
  position: absolute;
  top: 28px;
  right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 32px;
  z-index: 1;
  cursor: pointer; }
  .favorite:before {
    font-size: 22px; }
  .favorite.icon-favorite-add:before {
    color: #F49D9C; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.search-filters {
  display: none;
  position: absolute;
  right: -98px;
  top: 44px;
  width: 450px;
  height: 205px;
  padding: 26px;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
  box-shadow: 10px 10px 20px rgba(201, 213, 235, 0.5);
  border-radius: 25px;
  z-index: 3; }
  @media (max-width: 767.98px) {
    .search-filters {
      right: 0;
      width: 100%; } }

.select-form__group--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer; }
  @media (min-width: 767.98px) {
    .select-form__group--block {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    .select-form__group--block {
      font-size: 24px; } }
  @media (max-width: 767.98px) {
    .select-form__group--block {
      border: 1px solid #fff;
      border-radius: 150px;
      background-color: #fff;
      padding: 12px 20px;
      font-size: 14px;
      margin-bottom: 12px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .select-form__group--block span:before {
    font-size: 14px;
    margin-left: 18px; }

@media (min-width: 767.98px) {
  .select-form__group--filters {
    width: 12%; } }

@media (min-width: 1400px) {
  .select-form__group--filters {
    width: 9%; } }

.select-form__group--filters.active .search-filters {
  display: block; }

.select-form__group--filters.active .filters__btn:before {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.filters-price__title {
  margin-bottom: 24px;
  font-size: 19px;
  line-height: 23px; }

.filters-price__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 71px; }

.filters-price__label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .filters-price__label .filters-price__input {
    width: 52px; }

.filters-price__text {
  font-size: 16px;
  line-height: 20px; }
  .filters-price__text-rang {
    margin: 0 10px; }

.filters-price__input {
  font-size: 16px;
  line-height: 20px; }

.filters-price__slider {
  position: relative; }
  .filters-price__slider svg {
    position: absolute;
    bottom: 99%;
    left: 0; }

.noUi-connect {
  background-color: rgba(177, 164, 212, 0.35); }

.noUi-target {
  background-color: #bfbfbf;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 3px; }

.noUi-handle::after,
.noUi-handle::before {
  display: none; }

.noUi-handle {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 100%;
  background-color: #fff;
  border: 3px solid #5d71dd; }

.noUi-horizontal .noUi-handle {
  width: 22px;
  height: 22px;
  top: -10px;
  cursor: pointer; }

.noUi-horizontal .noUi-handle-upper {
  right: 0; }

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative; }

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
  transform-style: flat; }

.noUi-connect {
  height: 100%;
  width: 100%; }

.noUi-origin {
  height: 10%;
  width: 10%; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto; }

.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-horizontal {
  height: 1px; }

.noUi-horizontal .noUi-handle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  right: -17px;
  top: -16px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto; }

.noUi-handle-lower,
.noUi-handle-upper {
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  height: 15px; }

.noUi-handle-lower {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.noUi-handle-upper {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: #333637; }

.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  cursor: default; }

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed; }

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px; }

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px; }

.footer {
  background-color: #333637; }
  @media (max-width: 767.98px) {
    .footer {
      padding: 52px 0; } }
  @media (min-width: 767.98px) {
    .footer {
      padding-top: 88px;
      padding-bottom: 118px; } }
  .footer__logo {
    margin-bottom: 57px; }
    @media (max-width: 767.98px) {
      .footer__logo {
        text-align: center; } }
  .footer__body {
    max-width: 1523px;
    margin: 0 auto;
    color: #fff;
    font-size: 22px; }
    @media (max-width: 1700px) {
      .footer__body {
        padding: 0 50px; } }
    @media (max-width: 576.98px) {
      .footer__body {
        padding: 0 15px; } }
  .footer__body-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1300px) {
      .footer__body-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
  .footer__map {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 448px;
    flex: 0 0 448px;
    min-height: 388px;
    position: relative; }
    @media (max-width: 1200px) {
      .footer__map {
        margin-bottom: 48px; } }
    @media (min-width: 1300px) {
      .footer__map {
        margin-right: 104px; } }
  @media (max-width: 767.98px) {
    .footer__row {
      text-align: center; } }
  @media (min-width: 767.98px) {
    .footer__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (max-width: 1300px) {
    .footer__content {
      margin-bottom: 48px; } }
  @media (min-width: 1300px) {
    .footer__content {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 858px;
      flex: 0 1 858px; } }
  .footer__col {
    position: relative; }
    @media (min-width: 767.98px) {
      .footer__col:not(:last-child) {
        margin-right: 20px; } }
    @media (max-width: 767.98px) {
      .footer__col:not(:last-child) {
        margin-bottom: 70px; } }
  .footer__title {
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 24px; }
    .footer__title + p {
      margin-bottom: 49px; }
  .footer__nav-item:not(:last-child) {
    margin-bottom: 24px; }
  .footer__nav-link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s; }
    .footer__nav-link:hover {
      color: #F49D9C; }
  .footer__social {
    margin: 0; }

.main-card {
  padding-top: 103px;
  margin-bottom: 95px; }
  .main-card .product__wrapper {
    margin-right: 0; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FDFCFF;
  mix-blend-mode: normal;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  border-radius: 25px; }
  @media (max-width: 992.98px) {
    .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  @media (max-width: 1500px) {
    .card {
      padding: 50px 30px;
      margin: 0 30px;
      margin-bottom: 80px; } }
  @media (min-width: 1500px) {
    .card {
      padding: 70px 80px 70px 0;
      max-width: 1307px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 100px; } }
  @media (max-width: 600px) {
    .card {
      padding: 30px 16px;
      margin: 0 16px;
      margin-bottom: 48px; } }
  .card__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 600px) {
      .card__slider {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media (max-width: 992.98px) {
      .card__slider {
        margin-bottom: 32px; } }
    @media (min-width: 992.98px) {
      .card__slider {
        margin-right: 40px;
        max-height: 505px; } }
    @media (max-width: 1200px) {
      .card__slider {
        width: 480px; } }
    @media (min-width: 1200px) {
      .card__slider {
        width: 580px;
        max-height: 582px; } }
    @media (max-width: 600px) {
      .card__slider {
        width: 100%; } }
    .card__slider img {
      height: 100%; }
  .card__slider-block {
    overflow: hidden;
    border-radius: 35px; }
    @media (max-width: 600px) {
      .card__slider-block {
        width: 100%;
        margin-bottom: 24px; } }
    @media (min-width: 600px) {
      .card__slider-block {
        width: calc(100% - 85px - 15px); } }
    @media (min-width: 1200px) {
      .card__slider-block {
        width: calc(100% - 125px - 30px); } }
    .card__slider-block img {
      border-radius: 35px; }
  .card .favorite {
    position: absolute;
    bottom: 19px;
    right: 19px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff; }

@media (max-width: 600px) {
  .slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; } }

@media (min-width: 600px) {
  .slider-nav {
    width: 105px;
    margin-right: 30px; } }

@media (min-width: 1200px) {
  .slider-nav {
    width: 125px; } }

@media (min-width: 1500px) {
  .slider-nav {
    margin-left: -52px; } }

.slider-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer; }
  @media (max-width: 600px) {
    .slider-nav__item:not(:last-child) {
      margin-right: 8px; } }
  @media (min-width: 600px) {
    .slider-nav__item {
      height: 105px; }
      .slider-nav__item:not(:last-child) {
        margin-bottom: 27px; } }
  @media (min-width: 1200px) {
    .slider-nav__item {
      height: 125px; } }
  .slider-nav__item img {
    width: 100%;
    height: 100%;
    border-radius: 15px; }
  .slider-nav__item.active {
    -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
    transition: -webkit-box-shadow 0.5s ease 0s;
    -o-transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s;
    transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
    -webkit-box-shadow: 15px 15px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
    box-shadow: 15px 15px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15); }

@media (max-width: 992.98px) {
  .card__info {
    margin-bottom: 36px; } }

@media (min-width: 992.98px) {
  .card__info {
    width: calc(100% - 582px); } }

.card__info-title {
  font-size: 48px;
  line-height: 59px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #5B5F60; }
  @media (max-width: 1200px) {
    .card__info-title {
      font-size: 30px;
      line-height: 38px; } }
  @media (min-width: 1200px) {
    .card__info-title {
      font-size: 48px;
      line-height: 59px; } }

.card__info-status {
  display: inline-block;
  font-size: 20px;
  line-height: 24px; }
  @media (max-width: 767.98px) {
    .card__info-status {
      margin-bottom: 19px; } }
  @media (min-width: 767.98px) {
    .card__info-status {
      margin-bottom: 39px; } }
  .card__info-status:before {
    color: #F49D9C;
    margin-right: 16px;
    font-size: 25px; }

@media (max-width: 1200px) {
  .card__info p {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 12px; } }

@media (min-width: 1200px) {
  .card__info p {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 18px; } }

@media (max-width: 1200px) {
  .card__info-block {
    margin-bottom: 22px; } }

@media (min-width: 1200px) {
  .card__info-block {
    margin-bottom: 36px; } }

.card__info-block p {
  margin-bottom: 12px; }

.card__info-amount {
  margin-bottom: 34px; }

.card__info .icon-drop:before {
  margin-right: 6px; }

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #5B5F60; }
  @media (max-width: 767.98px) {
    .card__price {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px; } }
  @media (min-width: 767.98px) {
    .card__price {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 32px; } }
  .card__price div:first-child {
    position: relative;
    margin-right: 32px;
    color: #C5C5C5; }
    .card__price div:first-child:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #C5C5C5; }

.main-delivery {
  position: relative; }
  .main-delivery:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/delivery/delivery-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1216px;
    z-index: -1; }
  @media (max-width: 767.98px) {
    .main-delivery {
      padding-top: 32px; } }
  @media (min-width: 767.98px) {
    .main-delivery {
      padding-top: 100px; } }

.s-delivery {
  margin-bottom: 0; }

.delivery-decor {
  position: absolute;
  width: 148px;
  -webkit-animation: sheet 2s ease infinite;
  animation: sheet 2s ease infinite; }
  .delivery-decor-1 {
    top: 220px;
    left: 62px; }
  .delivery-decor-2 {
    right: 62px;
    top: 50%; }

@media (max-width: 767.98px) {
  .delivery__body {
    margin-bottom: 86px; } }

@media (min-width: 767.98px) {
  .delivery__body {
    margin-bottom: 167px; } }

.delivery__body-item {
  position: relative;
  background: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  padding: 24px 0; }
  .delivery__body-item:first-child {
    margin-bottom: 50px; }
  .delivery__body-item:last-child {
    overflow: hidden; }
  @media (min-width: 992.98px) {
    .delivery__body-item {
      padding: 72px 62px 72px 100px; } }
  @media (min-width: 1400px) {
    .delivery__body-item {
      padding: 72px 62px 72px 197px; }
      .delivery__body-item:first-child {
        margin-bottom: 100px; } }
  .delivery__body-item.active .delivery__payment-img {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.delivery__title {
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 576.98px) {
    .delivery__title {
      margin-bottom: 24px; } }
  @media (min-width: 1400px) {
    .delivery__title {
      margin-bottom: 35px;
      margin-left: -197px; } }

@media (max-width: 992.98px) {
  .delivery__item {
    padding: 0 16px 0 42px; }
    .delivery__item:not(:last-child) {
      margin-bottom: 20px; } }

@media (min-width: 992.98px) {
  .delivery__item:not(:last-child) {
    margin-bottom: 36px; } }

.delivery__item-title {
  position: relative;
  text-transform: uppercase;
  color: #F49D9C;
  margin-bottom: 12px; }
  @media (max-width: 992.98px) {
    .delivery__item-title {
      font-size: 16px; } }
  @media (min-width: 992.98px) {
    .delivery__item-title {
      font-size: 24px; } }
  .delivery__item-title:before {
    position: absolute;
    color: #F49D9C; }
  @media (max-width: 1400px) {
    .delivery__item-title:before {
      font-size: 20px;
      left: -30px; } }
  @media (min-width: 1400px) {
    .delivery__item-title:before {
      font-size: 30px;
      left: -40px; } }

.delivery p {
  position: relative; }
  @media (max-width: 992.98px) {
    .delivery p {
      margin-bottom: 9px;
      font-size: 14px; } }
  @media (min-width: 992.98px) {
    .delivery p {
      font-size: 18px; } }
  .delivery p:before {
    position: absolute;
    color: #F49D9C; }
  @media (max-width: 1400px) {
    .delivery p:before {
      font-size: 20px;
      left: -30px; } }
  @media (min-width: 1400px) {
    .delivery p {
      font-size: inherit;
      margin-bottom: 12px; }
      .delivery p:before {
        font-size: 30px;
        left: -40px; } }

.delivery li {
  position: relative;
  margin-bottom: 4px; }
  .delivery li:before {
    font-size: 15px;
    position: absolute;
    left: -29px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #F49D9C; }
  @media (max-width: 992.98px) {
    .delivery li {
      font-size: 14px; }
      .delivery li:before {
        font-size: 12px;
        left: -24px; } }
  @media (min-width: 1400px) {
    .delivery li {
      font-size: inherit; } }

.delivery__body-decor {
  position: absolute;
  top: 50%;
  right: -213px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 450px; }
  @media (max-width: 992.98px) {
    .delivery__body-decor {
      display: none; } }

.delivery__payment-img {
  display: block;
  margin-left: auto;
  position: relative;
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: 1.5s ease 0.7s;
  -o-transition: 1.5s ease 0.7s;
  transition: 1.5s ease 0.7s; }
  @media (max-width: 992.98px) {
    .delivery__payment-img {
      max-width: 180px; } }
  @media (min-width: 992.98px) {
    .delivery__payment-img {
      max-width: 410px; } }

@-webkit-keyframes delivery {
  0% {
    right: 0; }
  50% {
    right: 0; }
  100% {
    right: 110%; } }

@keyframes delivery {
  0% {
    right: 0; }
  50% {
    right: 0; }
  100% {
    right: 110%; } }

.flowringo {
  position: relative;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 60px;
  background-color: #fff;
  text-align: center;
  border-radius: 25px; }
  .flowringo__title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 500;
    text-transform: capitalize;
    color: #F49D9C; }
    @media (max-width: 767.98px) {
      .flowringo__title {
        top: -44px;
        font-size: 48px;
        line-height: 55px; } }
    @media (min-width: 767.98px) {
      .flowringo__title {
        top: -92px;
        font-size: 96px;
        line-height: 117px; } }
  .flowringo__desc {
    font-weight: 600;
    color: #F49D9C;
    margin-bottom: 53px; }
  .flowringo__btn {
    margin-bottom: 50px; }
    @media (min-width: 767.98px) {
      .flowringo__btn {
        padding: 29px 59px; } }
  .flowringo img {
    max-width: unset;
    width: 1024px;
    position: relative;
    margin-left: -130px;
    margin-bottom: -6px; }

@media (max-width: 1400px) {
  .page-catalog__main {
    padding-top: 60px; } }

@media (min-width: 1400px) {
  .page-catalog__main {
    padding-top: 112px; } }

@media (min-width: 1200px) {
  .page-catalog .product__item {
    margin-bottom: 32px; } }

.page-catalog .select-form {
  margin-bottom: 89px; }

@media (max-width: 576.98px) {
  .page-catalog .product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0; }
  .page-catalog .product__item {
    margin-bottom: 32px; } }

@media (max-width: 992.98px) {
  .main-checkout {
    padding-top: 40px; } }

@media (min-width: 992.98px) {
  .main-checkout {
    padding-top: 90px; } }

@media (max-width: 767.98px) {
  .main-checkout .section__title {
    margin-bottom: 16px; } }

@media (min-width: 767.98px) {
  .main-checkout .section__title {
    margin-bottom: 40px; } }

.main-checkout .product__count {
  font-size: 22px; }

@media (max-width: 767.98px) {
  .main-checkout .product__count-icon:before {
    font-size: 14px; } }

@media (min-width: 767.98px) {
  .main-checkout .product__count-icon:before {
    font-size: 22px; } }

@media (min-width: 767.98px) {
  .basket__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media (min-width: 1400px) {
  .basket__body {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.basket__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
  margin-bottom: 32px; }
  @media (min-width: 767.98px) {
    .basket__col {
      margin-bottom: 95px; }
      .basket__col:first-child {
        margin-right: 24px; } }
  .basket__col:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

@media (max-width: 1200px) {
  .basket__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px; } }

@media (min-width: 1200px) {
  .basket__title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px; } }

.basket__product-price {
  font-weight: bold;
  color: #5B5F60; }
  @media (max-width: 1200px) {
    .basket__product-price {
      font-size: 16px;
      line-height: 18px; } }
  @media (min-width: 1200px) {
    .basket__product-price {
      font-size: 30px;
      line-height: 37px; } }

.basket__textarea {
  width: 100%;
  min-height: 166px;
  border: unset;
  outline: unset;
  background: #FDFCFF;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  border-radius: 25px;
  padding: 20px 29px; }

@media (min-width: 1400px) {
  .basket__btn {
    margin-right: 109px;
    padding: 29px 110px; } }

/******************* 
                        ITEM  
                        
                        *******************************/
.basket__item {
  position: relative;
  background: #FDFCFF;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  border-radius: 25px; }

@media (max-width: 1200px) {
  .basket__item-box {
    padding: 20px; } }

@media (min-width: 1200px) {
  .basket__item-box {
    padding: 40px; } }

.basket__item-box:first-child {
  background: #FDFCFF;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  border-radius: 25px 25px 0px 0px; }

.basket__item-box .select-options__value {
  font-size: 18px; }

.basket__item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .basket__item-product:not(:last-child) {
    margin-bottom: 40px; }
  .basket__item-product .basket__title {
    margin-bottom: 0; }

.basket__item-img {
  position: relative;
  border-radius: 50%; }
  @media (max-width: 1200px) {
    .basket__item-img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66px;
      flex: 0 0 66px;
      width: 66px;
      height: 66px;
      margin-right: 14px; } }
  @media (min-width: 1200px) {
    .basket__item-img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 94px;
      flex: 0 0 94px;
      width: 94px;
      height: 94px;
      margin-right: 24px; } }
  .basket__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.basket__item-info {
  width: 100%; }
  @media (max-width: 1200px) {
    .basket__item-info span {
      font-size: 14px; } }

.basket__item-info--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .basket__item-info--group:first-child {
    margin-bottom: 15px; }

/******************* 
                        PRICE  
                        
                        *******************************/
.basket__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 22px;
  color: #5B5F60; }
  @media (max-width: 767.98px) {
    .basket__promo {
      font-size: 14px;
      margin-bottom: 14px; } }
  @media (min-width: 767.98px) {
    .basket__promo {
      font-size: 18px;
      margin-bottom: 24px; } }
  .basket__promo:before {
    margin-right: 12px;
    color: #F49D9C; }
    @media (max-width: 767.98px) {
      .basket__promo:before {
        font-size: 20px; } }
    @media (min-width: 767.98px) {
      .basket__promo:before {
        font-size: 32px; } }
  .basket__promo span {
    margin-top: 7px; }

.basket__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 992.98px) {
    .basket__price-box:not(:last-child) {
      margin-bottom: 14px; } }
  @media (min-width: 767.98px) {
    .basket__price-box:not(:last-child) {
      margin-bottom: 22px; } }

.basket__price-bonus {
  font-weight: bold;
  color: #F49D9C; }

/******************* 
                         RECIPIENT  
                        
                        *******************************/
.item-recipient.active .item-recipient__time {
  display: block; }

.item-recipient__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative; }
  .item-recipient__head .basket__title {
    margin-bottom: 0; }
  .item-recipient__head.active .item-recipient__drop {
    display: block !important; }

.item-recipient__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background: #FAFAFA;
  mix-blend-mode: normal;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  cursor: pointer; }
  @media (max-width: 992.98px) {
    .item-recipient__btn {
      width: 42px;
      height: 42px; } }
  @media (min-width: 992.98px) {
    .item-recipient__btn {
      width: 68px;
      height: 68px; } }
  .item-recipient__btn.active:before {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.item-recipient__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.item-recipient__recipient {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 15px 7px;
  text-align: center;
  background: #FDFCFF;
  mix-blend-mode: normal;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  border-radius: 55px;
  margin-bottom: 34px; }

.item-recipient__input {
  border-bottom: 1px solid #D6D7D9; }
  @media (max-width: 767.98px) {
    .item-recipient__input {
      padding-bottom: 9px;
      margin-bottom: 12px;
      width: 100%; } }
  @media (min-width: 767.98px) {
    .item-recipient__input {
      padding-bottom: 13px;
      margin-bottom: 19px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
      flex: 0 1 45%;
      width: 45%; } }
  @media (max-width: 767.98px) {
    .item-recipient__input input {
      font-size: 13px;
      text-align: center; } }
  .item-recipient__input input::-webkit-input-placeholder {
    color: #000; }
  .item-recipient__input input:-ms-input-placeholder {
    color: #000; }
  .item-recipient__input input::-ms-input-placeholder {
    color: #000; }
  .item-recipient__input input::placeholder {
    color: #000; }

.item-recipient__select {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }
  .item-recipient__select .select-title {
    padding-right: 24px; }
    @media (max-width: 767.98px) {
      .item-recipient__select .select-title {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0; } }
  .item-recipient__select .select-title__arrow:before {
    font-size: 18px; }

.item-recipient__drop {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 34px 0px;
  margin-top: 10px;
  background: #FDFCFF;
  border-radius: 25px 25px 0px 0px; }
  @media (min-width: 1200px) {
    .item-recipient__drop {
      padding: 40px 40px; } }

.item-recipient__drop-item {
  position: relative;
  padding: 15px 7px;
  text-align: center;
  background: #FDFCFF;
  mix-blend-mode: normal;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  border-radius: 55px;
  margin-bottom: 34px;
  cursor: pointer; }
  .item-recipient__drop-item:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #F49D9C; }
    @media (max-width: 767.98px) {
      .item-recipient__drop-item:before {
        left: 14px;
        font-size: 12px; } }
    @media (min-width: 767.98px) {
      .item-recipient__drop-item:before {
        font-size: 16px;
        left: 28px; } }

/******************* 
                        POSTAL  
                        
                        *******************************/
.postal {
  background: #FAFAFA;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  border-radius: 25px; }
  @media (max-width: 992.98px) {
    .postal {
      padding: 20px; } }
  @media (min-width: 992.98px) {
    .postal {
      padding: 40px 57px; } }
  @media (min-width: 767.98px) {
    .postal__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 992.98px) {
    .postal__col:first-child {
      margin-bottom: 16px; } }
  @media (min-width: 800px) {
    .postal__col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 42%;
      flex: 1 1 42%; }
      .postal__col:first-child {
        margin-right: 94px;
        margin-bottom: 40px; } }
  .postal__col-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 992.98px) {
      .postal__col-check {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (min-width: 992.98px) {
      .postal__col-check {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  @media (max-width: 992.98px) {
    .postal__check-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 32px; } }

.checkbox__label {
  position: relative;
  cursor: pointer; }
  @media (min-width: 992.98px) {
    .checkbox__label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .checkbox__label:first-child {
    margin-bottom: 30px; }
  .checkbox__label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 50px;
    height: 50px; }
    .checkbox__label input:checked + .postal__checkbox-control:before {
      opacity: 1; }

.checkbox__control {
  border-radius: 50%;
  text-align: center;
  background: #FAFAFA;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15); }
  @media (max-width: 992.98px) {
    .checkbox__control {
      width: 27px;
      height: 27px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
      flex: 0 0 27px;
      margin-right: 8px; } }
  @media (min-width: 992.98px) {
    .checkbox__control {
      width: 50px;
      height: 50px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
      flex: 0 0 50px;
      margin-right: 28px; } }
  .checkbox__control:before {
    opacity: 0;
    color: #F49D9C; }
    @media (max-width: 992.98px) {
      .checkbox__control:before {
        line-height: 27px;
        font-size: 12px; } }
    @media (min-width: 992.98px) {
      .checkbox__control:before {
        line-height: 50px;
        font-size: 16px; } }

/*       OrderTime           */
.item-recipient__time {
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  box-shadow: 10px 10px 20px rgba(177, 164, 212, 0.35), -10px -10px 10px rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 25px;
  z-index: 5; }
  @media (max-width: 992.98px) {
    .item-recipient__time {
      padding: 24px 20px 24px; } }
  @media (min-width: 992.98px) {
    .item-recipient__time {
      padding: 40px 40px 70px; } }

.time-order__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.time-order__head-item {
  max-width: 179px;
  font-weight: 500;
  text-align: center; }
  .time-order__head-item.active {
    color: #F49D9C; }

.time-order__body-item {
  display: none; }
  .time-order__body-item:last-child {
    padding-top: 46px; }
  .time-order__body-item.active {
    display: block; }

.time-order__time {
  text-align: center;
  -webkit-box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15), inset 10px 0px 20px rgba(177, 164, 212, 0.15);
  border-radius: 40px;
  margin-bottom: 26px; }
  @media (max-width: 767.98px) {
    .time-order__time {
      font-size: 14px;
      line-height: 16px;
      padding: 10px 0; } }
  @media (min-width: 992.98px) {
    .time-order__time {
      font-size: 18px;
      line-height: 22px;
      padding: 19px 0; } }

.time-order ul {
  list-style-position: inside;
  -webkit-column-count: 2;
  column-count: 2; }

.time-order__exact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.time-order__exact-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 60px; }
  .time-order__exact-item:first-child {
    margin-right: 110px; }
    .time-order__exact-item:first-child:after {
      content: ':';
      position: absolute;
      top: 0;
      right: -55px; }
  .time-order__exact-item span {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px; }
